@using HotelWebDemo.Models.Database

@model RoomReservation

@{
    Layout = "_AdminPageLayout";
    ViewData["PageHeading"] = "Check-in";
    ViewData["PageSubHeading"] = $"Room {Model.RoomCheckinTitle}";

    List<Country> countries = ViewData["Countries"] as List<Country> ?? new();
}

<table class="table room-info mb-3">
    <tr>
        <td>#:</td>
        <td>@Model.Room?.Id</td>
    </tr>
    <tr>
        <td>No.:</td>
        <td>@Model.Room?.Number</td>
    </tr>
    <tr>
        <td>Floor No.:</td>
        <td>@Model.Room?.Floor</td>
    </tr>
    <tr>
        <td>Capacity:</td>
        <td>@Model.Room?.Capacity</td>
    </tr>
    <tr>
        <td>Features:</td>
        <td>@Model.Room?.FeaturesEnumerated</td>
    </tr>
</table>

<form asp-action="SubmitCheckin">
    <input type="hidden" asp-for=@Model.Id />
    <input type="hidden" asp-for=@Model.BookingId />
    <input type="hidden" asp-for=@Model.BookingItemId />
    <input type="hidden" asp-for=@Model.RoomId />
    <input type="hidden" asp-for=@Model.CheckinInfoId />

    @for (int i = 0; i < Model.Room.Capacity; i++)
    {
        string customerFieldId = $"customer-field-{i}";

        <div class="card p-3 mb-3" id="@(customerFieldId)">
            <div class="card-title">
                <h2>Customer @(i + 1)</h2>
            </div>
            <div class="card-body">
                <input type="hidden" asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Id />
                <input type="hidden" asp-for=@Model.CheckinInfo.CheckedInCustomers[i].CustomerId data-map-to="Id" />
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.NationalId></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.NationalId class="form-control d-block w-100 national-id-field" />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.NationalId class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.PassportId></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.PassportId class="form-control d-block w-100 passport-id-field" />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.PassportId class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Citizenship></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <select asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.CitizenshipId
                                class="form-select d-block w-100"
                                data-map-to="CitizenshipId"
                                asp-items="new SelectList(
                                countries ?? new List<Country>(),
                                nameof(Country.Id),
                                nameof(Country.Name))">
                            <option value="0">-- Please select --</option>
                        </select>
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Citizenship class="text-danger"></span>
                    </div>
                </div>
                <div class="alert alert-info known-customer-alert" style="display:none">
                    <span>The <span class="id-type"></span> <span class="id"></span> is already associated to an existing account.</span>
                    <a href="" class="link-customer-link">Link customer?</a>
                </div>
                <div class="alert alert-warning cancel-autofill-alert" style="display:none">
                    <a href="" class="cancel-autofill-link">Cancel auto-fill</a>
                </div>
                <hr class="my-5" />
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.FirstName></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.FirstName
                            class="form-control d-block w-100"
                            data-map-to="FirstName"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.FirstName class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.MiddleName></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.MiddleName
                            class="form-control d-block w-100"
                            data-map-to="MiddleName"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.MiddleName class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.LastName></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.LastName
                            class="form-control d-block w-100"
                            data-map-to="LastName"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.LastName class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.DateOfBirth></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.DateOfBirth
                            class="form-control d-block w-100"
                            data-map-to="DateOfBirth"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.DateOfBirth class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.StreetLine1></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.StreetLine1
                            class="form-control d-block w-100"
                            data-map-to="StreetLine1"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.StreetLine1 class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.StreetLine2></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.StreetLine2
                            class="form-control d-block w-100"
                            data-map-to="StreetLine2"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.StreetLine2 class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.StreetLine3></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.StreetLine3
                            class="form-control d-block w-100"
                            data-map-to="StreetLine3"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.StreetLine3 class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.Country></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <select asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.CountryId
                                class="form-select d-block w-100"
                                data-map-to="CountryId"
                                asp-items="new SelectList(
                            countries ?? new List<Country>(),
                            nameof(Country.Id),
                            nameof(Country.Name))">
                            <option value="0">-- Please select --</option>
                        </select>
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.Country class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.City></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.City
                            class="form-control d-block w-100"
                            data-map-to="City"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.City class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.PostalCode></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.PostalCode
                            class="form-control d-block w-100"
                            data-map-to="PostalCode"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.PostalCode class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <label asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.Phone></label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input
                            asp-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.Phone
                            class="form-control d-block w-100"
                            data-map-to="Phone"
                        />
                        <span asp-validation-for=@Model.CheckinInfo.CheckedInCustomers[i].Customer.Address.Phone class="text-danger"></span>
                    </div>
                </div>
                <script>
                    window.newKnownCustomerComponent("@(customerFieldId)");
                </script>
            </div>
        </div>
    }

    <button type="submit" class="btn btn-primary p-3">
        Check-in
    </button>
</form>

@section ScriptsHead
{
    <script src="~/js/Booking/check-in.js"></script>
}