@using HotelWebDemo.Models.Database
@using HotelWebDemo.Models.ViewModels

@model BookingViewModel

@{
    Layout = "_FieldsetLayout";
    ViewData["Legend"] = "Check-in";
}

@foreach (RoomReservation r in Model.RoomReservations)
{
    bool isExistingCheckin = r.CheckinInfo != null;

    <div class="alert alert-info p-3 mb-3">
        <div class="row">
            <div class="col">
                <h3>@r.Room?.CategoryNameAndCapacity</h3>
            </div>
            <div class="col text-end">
                <a
                    asp-area="Admin"
                    asp-controller="RoomReservation"
                    asp-action="Checkin"
                    asp-route-id="@r.Id"
                    class="btn btn-link btn-primary text-decoration-none"
                >
                    @(isExistingCheckin ? "Update check-in" : "Check-in customers")
                </a>
            </div>
        </div>
        @if (isExistingCheckin)
        {
            <table>
                <tr>
                    <th>Checked-in customers:</th>
                </tr>
                @foreach (CheckedInCustomer cci in r.CheckinInfo.CheckedInCustomers)
                {
                    <tr>
                        <td>
                            <span>@cci.Customer?.FullName</span>
                            <span>
                                (@(!string.IsNullOrEmpty(cci.Customer?.NationalId) ? cci.Customer?.NationalId : cci.Customer?.PassportId))
                            </span>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
}