@using HotelWebDemo.Models.Database
@using HotelWebDemo.Models.ViewModels

@model BookingViewModel

@{
}

<table class="table view-booking-table">
    <tr>
        <th colspan="2" class="table-dark fs-6">General</th>
    </tr>
    <tr>
        <td>Hotel:</td>
        <td>@Model.Hotel!.Name</td>
    </tr>
    <tr>
        <td>Check-in date:</td>
        <td>@Model.CheckInDate.ToLongDateString()</td>
    </tr>
    <tr>
        <td>Check-out date:</td>
        <td>@Model.CheckOutDate.ToLongDateString()</td>
    </tr>
    <tr>
        <td>Length:</td>
        <td>@Model.NightsLabel</td>
    </tr>
    <tr>
        <td>Rooms reserved:</td>
        <td>@Model.RoomsToReserve!.Count</td>
    </tr>
    <tr>
        <th colspan="2" class="table-dark fs-6">Contact</th>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.Contact!.FullName</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>
            @if (Model.Contact!.Phone != null)
            {
                <a href="tel:@(Model.Contact.Phone)">@Model.Contact.Phone</a>
            }
            else
            {
                <span>N/A</span>
            }
        </td>
    </tr>
    <tr>
        <td>E-mail address:</td>
        <td>
            @if (Model.Contact!.Email != null)
            {
                <a href="mailto:@(Model.Contact.Email)">@Model.Contact.Email</a>
            }
            else
            {
                <span>N/A</span>
            }
        </td>
    </tr>
    <tr>
        <td>Note:</td>
        <td>@Model.Contact!.Note</td>
    </tr>
    <tr>
        <th colspan="2" class="table-dark fs-6">Totals</th>
    </tr>
    @foreach (Room r in Model.ReservedRooms!)
    {
        <tr>
            <td><span>@r.CategoryNameAndCapacity:</span></td>
            <td><span class="currency-dollar">@(r.GetTotalPriceForPeriod(Model.Nights).ToString("#0.00"))</span></td>
        </tr>
    }
    @if (Model.Totals != null && Model.Totals.Modifiers != null)
    {
        foreach (TotalsDiscountModifier d in Model.Totals.Modifiers)
        {
            <tr>
                <td><span>@d.Name:</span></td>
                <td>- <span class="currency-dollar">@(d.Price.ToString("#0.00"))</span></td>
            </tr>
        }
    }
    <tfoot class="fw-bold">
        <tr>
            <td class="text-primary @(Model.HasCustomGrandTotal ? "text-decoration-line-through" : "fs-5")"><span>Total:</span></td>
            <td class="text-primary @(Model.HasCustomGrandTotal ? "text-decoration-line-through" : "fs-5")">
                <span class="currency-dollar">@(Model.GrandTotal.ToString("#0.00"))</span>
            </td>
        </tr>
        @if (Model.HasCustomGrandTotal)
        {
            <tr class="fs-5">
                <td class="text-primary"><span>Custom total:</span></td>
                <td class="text-primary">
                    <span class="currency-dollar">@(Model.Totals.CustomGrandTotal?.ToString("#0.00"))</span>
                </td>
            </tr>
        }
    </tfoot>
</table>