@using HotelWebDemo.Extensions
@using HotelWebDemo.Models.Components.Admin.Booking
@using HotelWebDemo.Models.Components.Admin.Pages
@using HotelWebDemo.Models.Components.Common
@using HotelWebDemo.Models.Database
@using HotelWebDemo.Models.ViewModels

@model BookingViewModel

@{
    Layout = "_AdminPageLayout";
    ViewData["PageHeading"] = "New Booking";
    BookingStepContext stepContext = TempData.Get<BookingStepContext>("StepContext") ?? throw new Exception("Step context is not defined.");
    BookingStep activeStep = stepContext.GetStep(stepContext.ActiveStep);
}

<form method="get">
    <div class="row">
        <div class="col-2">
            <div class="list-group">
                @foreach (BookingStep step in stepContext.Steps)
                {
                    <a asp-area="@step.Area"
                       asp-controller="@step.Controller"
                       asp-action="@step.Action"
                       asp-all-route-data="@Model.GenerateListingQuery()"
                       class="list-group-item list-group-item-action @(step.Id == stepContext.ActiveStep ? "active" : "") @(step.Disabled ? "disabled" : "")"
                       aria-current="true">
                        @step.Content
                    </a>
                }
            </div>
        </div>
        <div class="col-10">
            <partial name="_StepState" model="Model" />
            <partial name="@activeStep.Partial" model="Model" />
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/Booking/create.js"></script>
}