@using HotelWebDemo.Models.Components.Admin.Tables
@using HotelWebDemo.Models.Components.Common

@model FilterContext

@{
    Model.Init();
}
@if (Model.ActiveFilters.Count > 0)
{
    <div>
        <div class="d-flex">
            <h2 class="h4 flex-shrink-0 me-3">Active filters:</h2>
            <div class="d-flex flex-wrap gap-1 mb-3">
                @foreach (ActiveFilter filter in Model.ActiveFilters)
                {
                    <div id="activeFilter-@(filter.PropertyName)"
                         class="active-filter toast align-items-center text-bg-dark border-0 w-auto show"
                         data-active-filter="@(filter.PropertyName)"
                         role="alert"
                         aria-live="assertive"
                         aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body p-2">
                                <strong>@(filter.Name):</strong>
                                <span>@filter.Operator</span>
                                <strong>@(filter.Value ?? filter.RawValue)</strong>
                                @if (filter.SecondaryValue != null)
                                {
                                    <span>and</span>
                                    <strong>@filter.SecondaryValue</strong>
                                }
                            </div>
                            <button type="button"
                                    class="btn-close btn-remove-filter me-2 m-auto"
                                    data-remove-filter="@(filter.PropertyName)"
                                    data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                }
                @if (Model.ActiveFilters.Count > 1)
                {
                    <button type="button"
                            class="btn-remove-filter btn-link bg-transparent border-0"
                            data-remove-filter="__all">
                        Clear all
                    </button>
                }
            </div>
        </div>
    </div>
}
<p class="float-start gap-1 me-3 mb-3">
    <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" href="#filtersCollapse" role="button" aria-expanded="false" aria-controls="filtersCollapse">
        Filters
    </a>
</p>
<div class="float-end collapse" id="filtersCollapse">
    <div class="card card-body mb-3">
        <form method="GET" class="grid-filters-form">
            <div class="row">
                @foreach (TableFilterControls controls in Model.FilterControls)
                {
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <label class="fw-bold mb-2">@controls.Name</label>
                        <div id="filter-@(controls.PropertyName)" class="filter" data-filter="@(controls.PropertyName)">
                            <div class="row">
                                <div class="col">
                                    <select data-name="Filters.@(controls.PropertyName).Operator"
                                            data-filter-operator-for="@controls.PropertyName"
                                            class="form-select form-select-sm d-inline-block filter-operator">
                                        @foreach (FilterOperatorOption op in controls.OperatorOptions)
                                        {
                                            bool selected = controls.SelectedOperator == op.Value;
                                            <option value="@op.Value" selected=@selected>@op.Label</option>
                                        }
                                    </select>
                                </div>
                                <div class="col">
                                    @if (controls.IsSelectableFilter)
                                    {
                                        <select data-name="Filters.@(controls.PropertyName).Value"
                                                value="@controls.Value"
                                                data-filter-value-for="@controls.PropertyName"
                                                class="form-select form-select-sm filter-value">
                                            <option value="0">-- Please select --</option>
                                            @foreach (Option op in controls.SelectableOptions)
                                            {
                                                bool selected = op.Value.ToString() == (controls.Value ?? "0");
                                                <option value="@op.Value" selected=@selected>@op.Content</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <input data-name="Filters.@(controls.PropertyName).Value"
                                               type="@controls.InputType"
                                               value="@controls.Value"
                                               data-filter-value-for="@controls.PropertyName"
                                               class="form-control form-control-sm filter-value" />
                                        <input data-name="Filters.@(controls.PropertyName).SecondaryValue"
                                               type="@controls.InputType"
                                               value="@controls.SecondaryValue"
                                               data-filter-secondary-value-for="@controls.PropertyName"
                                               class="form-control form-control-sm filter-secondary-value mt-1"
                                               style="display: @(controls.SelectedOperator == "btw" ? "block" : "none") !important;" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <button id="applyFiltersButton" type="submit" class="btn btn-secondary fw-bold px-3 py-2">Apply filters</button>
        </form>
    </div>
</div>