@using HotelWebDemo.Models.Components.Admin.Tables

@model TableLink

@{
    string route = Model.Route ?? Url.Action(Model.Action, Model.Controller) ?? "/";
    string href = route + QueryString.Create(Model.GetListingModel().GenerateListingQuery());
}

<a href="@href"
   title="@Model.Content"
   class="@Model.Class"
   disabled="@Model.Disabled">
    @Model.Content
</a>