@using HotelWebDemo.Models.Components.Admin.Tables
@using HotelWebDemo.Models.Components.Common
@using HotelWebDemo.Models.Database

@model Table

@{
    bool hasMassActions = Model.MassActionContext.Actions.Any();
    string modelTypeName = Model.ModelType.Name;
    string tableId = $"table-{modelTypeName}";
    string massActionFormId = $"massActionForm-{tableId}";
}

<div id="@tableId" class="table-wrapper">
    <div class="filters-wrapper">
        <form method="get" asp-action="@Model.ListingModel.ActionName" class="filters-form">
            @if (Model.IsOrderable)
            {
                <input type="hidden" name="OrderBy" value="@Model.ListingModel.OrderBy" />
                <input type="hidden" name="Direction" value="@Model.ListingModel.Direction" />
            }

            @if (Model.Pagination != null)
            {
                <input type="hidden" name="Page" value="@Model.ListingModel.Page" />

                @if (Model.IsPageSizeAdjustable)
                {
                    <div class="float-end ms-2">
                        <label for="PageSize">Show per page:</label>
                        <select id="PageSize" name="PageSize" class="form-select form-select-sm d-inline-block w-auto">
                            @foreach (Option option in Model.GetPageSizeOptions())
                            {
                                <option value="@option.Value" selected="@option.Selected">@option.Content</option>
                            }
                        </select>
                    </div>
                }
            }

            @if (Model.IsFilterable)
            {
                <partial name="_TableFilters" model="@Model.FilterContext" />
            }

            @if (Model.IsSearchable)
            {
                <partial name="_TableSearchBar" model="@Model.ListingModel" />
            }
        </form>
    </div>

    @if (hasMassActions)
    {
        <form id="@massActionFormId" method="post">
            <partial name="_MassActions" model="@Model.MassActionContext" />
            <div class="inputs"></div>
        </form>
    }

    <div class="table-responsive-lg">
        <table class="table table-bordered table-striped admin-grid-table">
            <thead>
                <tr>
                    @if (hasMassActions)
                    {
                        <th>
                            <input class="form-check-input mass-action-check-all" type="checkbox">
                        </th>
                    }
                    @foreach (TableHeadingCell heading in Model.GenerateHeadingCells())
                    {
                        if (heading.Element is TableLink link)
                        {
                            <th>
                                <partial name="_TableLink" model="@link" />
                                @if (heading.State == HeadingFilterState.Descending)
                                {
                                    <i class="bi bi-caret-down-fill"></i>
                                }
                                else if (heading.State == HeadingFilterState.Ascending)
                                {
                                    <i class="bi bi-caret-up-fill"></i>
                                }
                            </th>
                        }
                        else
                        {
                            <th>@heading.Element.Content</th>
                        }
                    }
                    @if (Model.RowActions.Any())
                    {
                        <th class="text-center">Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.HasItems)
                {
                    foreach (IBaseEntity item in Model.GetItems())
                    {
                        <tr>
                            @if (hasMassActions)
                            {
                                <td>
                                    <input class="form-check-input mass-action-check" type="checkbox" value="@item.Id" data-select-item="@item.Id">
                                </td>
                            }
                            @foreach (object? cellData in Model.GetRowData(item))
                            {
                                <td>
                                    <span>@cellData</span>
                                </td>
                            }
                            @if (Model.RowActions.Any())
                            {
                                <partial name="_RowActions" model="@Model.GenerateRowActions(item)" />
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="@(Model.ColumnDatas.Count + (Model.RowActions.Any() ? 1 : 0) + 1)">
                            No results were found.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script>
            window.createTableComponent("@(tableId)");
        </script>
    </div>
</div>
@if (Model.Pagination != null)
{
    <partial name="_Pagination" model="@Model.Pagination" />
}