@using HotelWebDemo.Models.Components

@model TableLink

@{
}

<a asp-all-route-data=@Model.GetFilterQueryParameters()
   asp-action=@Model.ActionName
   asp-route-orderBy="@Model.OrderBy"
   asp-route-direction="@Model.Direction"
   asp-route-page="@Model.Page"
   title="@Model.Content"
   class="@Model.Class"
   disabled="@Model.Disabled">
    @Model.Content
</a>