@using HotelWebDemo.Extensions
@using HotelWebDemo.Models.Components.Admin.Pages
@using HotelWebDemo.Models.Components.Common
@using Newtonsoft.Json

@{
    Layout = "_AdminLayout";
    List<PageActionButton>? actions = ViewData["PageActions"] as List<PageActionButton>;
    actions?.Sort((a1, a2) => a1.SortOrder - a2.SortOrder);
    List<Message>? messages = TempData.Get<List<Message>>("Messages") ?? new();
}

<h1 class="mt-4 mb-5">
    @ViewData["PageHeading"]
</h1>

@if (ViewData["PageSubHeading"] != null)
{
    <h2>
        @ViewData["PageSubHeading"]
    </h2>
}

<partial name="_Messages" model="@messages" />

<div class="actions mb-4 d-flex justify-content-end gap-3 bg-body-tertiary p-3 border-bottom border-top">
    @if (actions != null)
    {
        foreach (PageActionButton action in actions)
        {
            <partial name="_PageActionButton" model="@action" />
        }
    }
</div>

@RenderBody()

@section Scripts
{
    @await RenderSectionAsync("Scripts", required: false)
}